<article>
  <header>
    <h1>AboutCannabis</h1>
    <h4>the finest hand-harvested daily cannabis news ~ est 2015</h4>
  </header>
  {{outlet}}
  <footer>
    Submit your content to hey@about-cannabis.org
  </footer>
</article>
